@font-face {
    font-family: "iconfont";
    /* Project id 2866957 */
    src: url('//at.alicdn.com/t/font_2866957_21luwim5b6g.woff2?t=1635815650234') format('woff2'),
        url('//at.alicdn.com/t/font_2866957_21luwim5b6g.woff?t=1635815650234') format('woff'),
        url('//at.alicdn.com/t/font_2866957_21luwim5b6g.ttf?t=1635815650234') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-return:before {
    content: "\eb11";
}

.icon-icon1:before {
    content: "\e64f";
}

.icon-shoucang1:before {
    content: "\e8c6";
}

.icon-zhuanfa:before {
    content: "\e63b";
}

.icon-aixin:before {
    content: "\e8c3";
}

.icon-pinglun:before {
    content: "\e8c5";
}

.icon-shoucang:before {
    content: "\e643";
}

.icon-cuowu:before {
    content: "\e600";
}

.icon-icon:before {
    content: "\e62f";
}

.icon-huati:before {
    content: "\e659";
}

.icon-jiantou:before {
    content: "\e680";
}

.icon-dui:before {
    content: "\e63c";
}

.icon-lingdang:before {
    content: "\e8c0";
}

.icon-bianji:before {
    content: "\e627";
}

.icon-tianxie:before {
    content: "\ec88";
}

.icon-bianji1:before {
    content: "\e678";
}

.icon-tiwen:before {
    content: "\e607";
}

.icon-bianji2:before {
    content: "\e62b";
}

.icon-biaoqing:before {
    content: "\e612";
}

.icon-shizhong:before {
    content: "\e681";
}

.icon-xiangce:before {
    content: "\e608";
}

.icon-sousuo:before {
    content: "\e60e";
}

.icon-shouzhang-01:before {
    content: "\e602";
}

.icon-sousuo1:before {
    content: "\e613";
}

.icon-jiantou2:before {
    content: "\e6dc";
}

.icon-jiantou1:before {
    content: "\e6df";
}