/* 数据区部分 */
.main-data {
    margin: 0 auto;
    margin-top: 20px;
    width: 1345px;
    height: 357px;
}
/* 左边 */
.main-data-left {
    float: left;
    width: 72%;
    height: 357px;
    background-color: #fff;
    border-radius: 20px;
}

.head {
    width: 100%;
    color: #666;
    font-size: 24px;
    font-weight: 700;
    border-radius: 20px 20px 0 0;
    height: 60px;
    line-height: 60px;
    padding-left: 24px;
    border-bottom: 2px solid #eee;
    box-sizing: border-box;
}

.main-data-left ul {
    width: 100%;
    height: 275px;
    display: flex;
    margin-top: 22px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-data-left ul li {
    margin-right: 15px;
    width: 30%;
    border-radius: 6px;
    height: 112px;
    border: 2px solid #eee;
}

.main-data-left ul li:nth-of-type(3),
.main-data-left ul li:nth-of-type(6) {
    margin-right: 0;
}

.main-data-left .data-img {
    position: relative;
    float: left;
    text-align: center;
    width: 90px;
    height: 100%;
    vertical-align: middle;
}

.main-data-left .data-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 56px;
}

.main-data-left .data-text {
    position: relative;
    float: left;
    width:calc(100% - 90px) ;
    height: 100%;
    text-align: left;
}

.main-data-left .data-text p {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    font-size: 14.5px;
    color: #989898;
    transform: translateY(-50%);
}

.main-data-left .data-text p span:nth-of-type(2) {
    font-size: 28px;
    color: #666;
    line-height: 36px;
}

.main-data-left ul li:nth-of-type(1) .data-text p span:nth-of-type(2),
.main-data-left ul li:nth-of-type(4) .data-text p span:nth-of-type(2){
    color: #D9001B;
}

.main-data-left .data-text p span[class^='data-rate'] {
    display: inline-block;
    width: 47px;
    height: 16px;
    line-height: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    background-size: 16px 14px;
    margin-right: 3px;
}

.main-data-left .data-text p .data-rate-down {
    color: #00A950;
    background: url(../images/xiajiang.png) no-repeat left center;
}

.main-data-left .data-text p .data-rate-up {
    color: #F04133;
    background: url(../images/shangsheng.png) no-repeat left center;
}
/* 右边 */
.main-data-right {
    position: relative;
    float: right;
    width: 26%;
    height: 357px;
    background-color: #fff;
    border-radius: 20px;
}

div[class^='peichart'] {
    position: absolute;
    top: 105px;
    left: 50%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #eee;
    /* 应用锥形渐变 */
    background: conic-gradient(#fff 0,#fff 20%,#eee 20%,#eee 100%);
    transform: translateX(-50%) rotate(145deg);
    transition: 1s ease-in-out;
}

.maskpeichart{
    position: absolute;
    top: 118px;
    left: 50%;
    transform: translateX(-50%);
    height: 134px;
    width: 134px;
    border-radius: 50%;
    background-color: #fff;
}

.main-data-right span {
    position: absolute;
    top: 162px;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    font-size: 32px;
}

.main-data-right p {
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    font-size: 16px;
}

.main-data-right p i {
    font-style: normal;
}

/* 数据可视化 */
.dataVisual {
    margin: 0 auto;
    width: 1345px;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 20px;
    height: 680px;
}

.dataVisual-left {
    float: left;
    width: 66%;
    height: 680px;
    text-align: center;
    border-radius: 20px 0 0 20px;
}

.dataVisual-left .head {
    text-align: left;
}

.dataVisual-left img {
    height: 534px;
}

.dataVisual-right {
    float: left;
    width: 34%;
    height: 680px;
    border-radius: 0 20px 20px 0;
}

.dataVisual-right ul {
    padding: 0 20px;
    height: 620px;
    box-sizing: border-box;
}

.dataVisual-right ul li {
    position: relative;
    border: 2px solid #eee;
    border-radius: 10px;
    height: 120px;
    margin-top: 20px;
}

.dataVisual-right ul li .peichart {
    top: 16px;
    left: 70px;
    width: 92px;
    height: 92px;
}

.dataVisual-right ul li:nth-of-type(1) .peichart {
    background: conic-gradient(#fff 0,#fff 20%,#a30014 20%,#a30014 52%,#eee 52%,#eee 100%);
}

.dataVisual-right ul li:nth-of-type(2) .peichart {
    background: conic-gradient(#fff 0,#fff 20%,#d9001b 20%,#d9001b 44%,#eee 44%,#eee 100%);
}

.dataVisual-right ul li:nth-of-type(3) .peichart {
    background: conic-gradient(#fff 0,#fff 20%,#ec808d 20%,#ec808d 36%,#eee 36%,#eee 100%);
}

.dataVisual-right ul li:nth-of-type(4) .peichart {
    background: conic-gradient(#fff 0,#fff 20%,#f59a23 20%,#f59a23 28%,#eee 28%,#eee 100%);
}

.dataVisual-right ul li .maskpeichart {
    top: 23px;
    left: 70px;
    width: 78px;
    height: 78px;
    font-size: 20px;
    color: #666666;
    text-align: center;
    line-height: 78px;
}

.dataVisual-right ul li h6 {
    position: absolute;
    left: 140px;
    top: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #666666;
    line-height: 21px;
}

.dataVisual-right ul li p {
    position: absolute;
    bottom: 30px;
    left: 140px;
    position: absolute;
    font-style: italic;
    font-size: 18px;
    color: #666666;
    line-height: 21px;
}

.dataVisual-right ul li p span {
    display: inline-block;
    margin-right: 20px;
}

/* 多省份数据详情 */
.multiProvince {
    width: 1345px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.multiProvince table {
    width: 1308px;
    margin: 0 auto;
    text-align: center;
    line-height: 73px;
    margin-top: 25px;
    border-collapse: collapse;
}

.multiProvince table th {
    width: 218px;
    background-color: rgba(242, 242, 242, 1);
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

.multiProvince table thead tr th:nth-of-type(4) {
    border-left: 2px solid #fff;
}

.multiProvince thead tr {
    border-bottom: 8px solid #fff;
}

.multiProvince tbody tr {
    border-bottom: 2px solid #eee;
    height: 73px;
}

.multiProvince tbody tr td:nth-of-type(1) {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: #d8cef2;
}
/* 新增病例 */
.case {
    width: 1345px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 20px;
}

.case ul {
    width: 100%;
    margin-top: 20px;
}

.case ul li {
    float: left;
    width: 50%;
    height: 140px;
}

.case .case-left {
    float: left;
    position: relative;
    left: 0;
    top: 0;
    margin-left: 30px;
    box-sizing: border-box;
    width: 20px;
    height: 100%;
}

.case .case-left::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #78a4fa;
    box-sizing: border-box;
}

.case .case-left::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 8px;
    width: 2px;
    height: 122px;
    background-color: #eee;
}

.case .case-time {
    float: left;
    font-size: 20px;
    margin-left: 10px;
    color: #7F7F7F;
    text-align: left;
}

.case .case-ardess {
    float: left;
    margin-left: 12px;
    font-size: 22px;
    color: #333333;
    height: 73px;
    width: 560px;
    margin-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 73px;
    background-color: #f8f8f8;
}

