.nav {
    position: fixed;
    background: #fff;
    z-index: 999;
}

.nav #logo {
    line-height: 53px;
}

.navShow {
    position: absolute;
    top: 0;
    left: 400px;
    width: 900px;
    height: 100%;
}

.navShow>div {
    float: left;
    position: absolute;
    top: 37%;
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.navShow .search {
    width: 543px;
    right: 250px;
    top: 17px;
    padding-top: 5px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navShow .search .findBtn,
.navShow .search p,
.navShow .ring p,
.navShow .write p {
    position: absolute;
    top: 0%;
    right: 10px;
    height: 100%;
    padding: 0 10px;
    line-height: 43px;
    text-align: right;
    font-size: 30px;
    color: rgba(0, 0, 0, .5);
}


.navShow .search input {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    background: transparent;
    border-radius: 20px;
    padding: 0 23px;
    line-height: 40px;
    font-size: 17px;
    border: 1px solid #ccc;
    transition: all .3s;
}




.navShow .search ul#souSuoUl {
    display: none;
    position: absolute;
    top: 49px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

.navShow .search ul#souSuoUl li {
    width: 100%;
    /* height: 20px; */
    margin-bottom: 10px;
    padding: 5px 14px;
    background: #fff;
    font-size: 17px;
    color: rgba(0, 0, 0, .5);
    text-align: left;
    font-weight: normal;
}

.navShow .ring {
    position: absolute;
    padding: 8px 0 0 60px;
    right: 187px;
    top: 16px;
    color: rgb(133, 144, 166);
    font-weight: bold;
    cursor: pointer;
}

.navShow .ring p {
    color: rgb(133, 144, 166);
    /* background: pink; */
}

.navShow .ring .ringContent,
.navShow .person .personContent {
    display: flex;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: -32px;
    width: 111px;
    border-radius: 0 0 20px 20px;
    /* background: rgb(22, 156, 173); */
    background: #fff;
    z-index: 999;
}

.navShow .person .personContent {
    top: 54px;
    left: -28px;
}

.navShow .ring .ringContent span,
.navShow .person .personContent span {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: default;
}

.forumthree {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(133, 144, 166);
}

.navShow .ring span.ringTixing {
    top: 0px;
    left: 34px;
}

.navShow .ring .ringContent span:last-child,
.navShow .person .personContent span:last-child {
    border-radius: 0 0 20px 20px;
}

.navShow .ring .ringContent span:hover,
.navShow .person .personContent span:hover {
    background: rgb(238, 232, 255);
}

.navShow .write {
    padding: 8px 0 0 60px;
    top: 16px;
    right: 118px;
    font-weight: bold;
    cursor: pointer;
}

.navShow .write p {
    color: rgb(245, 193, 21);
}

.navShow .person {
    right: 29px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 11px;
    color: rgb(133, 144, 166);
    font-weight: bold;
    cursor: pointer;
}

.navShow .person .Img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
}

.navShow .person .Img img {
    width: 100%;
    height: 100%;
}

.nav .navbutton {
    height: 100%;
    /* background: rgb(71, 172, 212); */
}


.icon-sousuo1:before {
    content: "\e613";
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1345px;
    margin: 100px auto;
    margin-bottom: 40px;
    padding: 0 45px;
    border-radius: 30px;
    font-family: 'Open Sans',
        sans-serif;
}


.banner div.centerC {
    position: relative;
    left: 0;
    width: 926px;
}

.banner div.centerC .say {
    width: 100%;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 15px;
}

.banner div.centerC .say>div {
    width: 100%;
    margin-top: 20px;
}



.banner div.centerC .say .writeArea p:nth-child(1) {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0, .5);
}

.banner div.centerC .say .spare {
    height: 100px;
    /* background: skyblue; */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
}

.banner div.centerC .say .spare::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.banner div.centerC .say .spare::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, .2);
    background: rgb(238, 232, 255);
}

.banner div.centerC .say .spare::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgb(238, 232, 255);
    border-radius: 10px;
    background: #ededed;
}

/* 传照片部分 */
.banner div.centerC .say .photo {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 900px;
    border-radius: 10px;
    /* background: pink; */
}

.banner div.centerC .say .photo img {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;

}



.banner div.centerC .say .role {
    float: left;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    margin-top: 3px;
}

.banner div.centerC .say .role .fileinput {
    position: relative;
}

.banner div.centerC .say .role input[type='file'] {
    position: relative;
    width: 100%;
    height: 100%;
    /* 上传文件的input用width没用,要用font-size */
    font-size: 71px;
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 10px;
    opacity: 0;
    z-index: 999;
}

.banner div.centerC .say .role .fileAdd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(248, 243, 255);
}


.banner div.centerC .say .spare .fuWenBen {
    /* 小bug:控制字数 */
    width: 100%;
    min-height: 98px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(0, 0, 0, .6);
    border-radius: 5px;
    resize: none;
    letter-spacing: 2px;
}

.banner div.centerC .say .spare .fuWenBen img {
    width: 24px;
    vertical-align: bottom;
}

.banner div.centerC .say .spareIcon {
    position: relative;
    display: flex;
    height: 40px;
}

.banner div.centerC .say .spareIcon .siLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: 100%;
    background: #fff;
}

.banner div.centerC .say .spareIcon .siLeft p {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.banner div.centerC .say .spareIcon .siLeft p::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/silIcon1.svg);
    background-size: 20px 20px;
}

.banner div.centerC .say .spareIcon .siLeft p:nth-child(2):before {
    background: url(../img/silIcon2.svg);
    background-size: 20px 20px;
}

.banner div.centerC .say .spareIcon .siLeft p:nth-child(3):before {
    background: url(../img/silIcon3.svg);
    background-size: 20px 20px;
}

.banner div.centerC .say .spareIcon .siLeft p:nth-child(4):before {
    background: url(../img/spareIcon4.png);
    background-size: 20px 20px;
}

.banner div.centerC .say .spareIcon .siLeft p:nth-child(5):before {
    background: url(../img/silIcon5.svg);
    background-size: 20px 20px;
}

.banner div.centerC .say .spareIcon .siLeft p:nth-child(6):before {
    background: url(../img/silIcon6.svg);
    background-size: 20px 20px;
}

.banner div.centerC .say .spareIcon .siLeft p:nth-child(7):before {
    background: url(../img/silIcon7.svg);
    background-size: 20px 20px;
}


.banner div.centerC .say .spareIcon .sirLeft {
    width: 65px;
    height: 100%;
    margin-left: 10px;
    /* background: blue; */
    cursor: pointer;
}


.banner div.centerC .say .spareIcon .siRight input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(169, 129, 221);
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

/* .banner div.centerC .say .spareIcon .sirLeft select {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: transparent;
} */

.banner div.centerC .say .spareIcon .sirRight {
    position: absolute;
    top: 6px;
    right: 0px;
    display: flex;
    width: 94px;
    height: 36px;
    justify-content: center;
    align-items: center;
    /* background: rgb(169, 129, 221); */
    border-radius: 6px;
    color: #fff;
}

/* 表情面板 */
.banner div.centerC .say .spareIcon .facePrint {
    position: absolute;
    top: 41px;
    left: -1px;
    width: 78%;
    min-height: 282px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 999;
}

/* @我面板 */
.banner div.centerC .say .spareIcon .publicArea,
.banner div.centerC .say .spareIcon .huaTiban,
.banner div.centerC .say .spareIcon .Atme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 41px;
    left: 216px;
    width: 100px;
    padding: 5px;
    background: rgb(217, 168, 201);
    border-radius: 10px;
    z-index: 999;
}

.banner div.centerC .say .spareIcon .huaTiban li,
.banner div.centerC .say .spareIcon .Atme li,
.banner div.centerC .say .spareIcon .publicArea li {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.banner div.centerC .say .spareIcon .huaTiban li:hover,
.banner div.centerC .say .spareIcon .Atme li:hover,
.banner div.centerC .say .spareIcon .publicArea li:hover {
    background: #f3e7ff;
}


.banner div.centerC .say .spareIcon .huaTiban {
    left: 327px;
}

.banner div.centerC .say .spareIcon .publicArea {
    left: 686px;
}

.banner div.centerC .say .spareIcon .facePrint ul {
    width: 100%;
    height: 100%;
}

.banner div.centerC .say .spareIcon .facePrint ul li {
    list-style: none;
    float: left;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.banner div.centerC .say .spareIcon .facePrint ul li img {
    width: 100%;
    height: 100%;
}


.banner div.rightC {
    position: relative;
    top: 0;
    right: 0;
    width: 300px;
    /* background: rgb(119, 171, 231); */
    border-radius: 0 28px 0 0;
}

.banner div.centerC .hotNewH {
    width: 100%;
    margin: 0px 0 20px 0;
    padding: 10px 30px;
    background: #ccc;
    background: rgb(194, 128, 255, .1);
    font-weight: bold;
    border-radius: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 2px 2px 2px rgb(218, 169, 202);

}

.banner div.centerC .hotNewBody {
    width: 100%;
}


.banner div.centerC .hotNewBody .forum {
    width: 100%;
    padding: 20px 20px 11px 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 3px solid rgba(194, 128, 255, .4);
    box-shadow: 0 0 10px rgb(218, 169, 202);
    background: rgb(238, 232, 255);
    border: 1px solid rgba(255, 255, 255)
}

.banner div.centerC .hotNewBody .forum .aurther {
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    margin-top: 10px;
    /* background: rgb(88, 169, 206); */
}

.banner div.centerC .hotNewBody .forum .aurther .photo {
    width: 80px;
    height: 100%;
    margin-right: 15px;
    background: #ccc;
    border-radius: 50%;
    border: 1px solid orange;
    overflow: hidden;
}

.banner div.centerC .hotNewBody .forum .aurther .photo img {
    width: 100%;
    height: 100%;
}

.banner div.centerC .hotNewBody .forum .aurther .anName {
    margin-top: 17px;
    /* background: pink; */
    font-family: 'Open Sans Bold',
        'Open Sans Regular',
        'Open Sans',
        sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.banner div.centerC .hotNewBody .forum .aurther .anTime {
    font-family: 'Open Sans',
        sans-serif;
    font-size: 14px;
    color: #7F7F7F;
}

.banner div.centerC .hotNewBody .forum .aurther .gz {
    position: absolute;
    top: 50%;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 64px;
    height: 30px;
    font-size: 13px;
    background: orange;
    /* border: 1px solid rgba(194, 128, 255, 1); */
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.banner div.centerC .hotNewBody .forum .aurtherSay,
.banner div.centerC .hotNewBody .forum .aurtherTmg,
.banner div.centerC .hotNewBody .forum .aurtherVideo,
.banner div.centerC .hotNewBody .forum .forumFooter {
    width: 82%;
    /* background: #fff; */
    margin: 20px auto;
}


.banner div.centerC .hotNewBody .forum .aurtherSay p {
    font-family: 'Open Sans',
        sans-serif;
    line-height: 35px;
    font-size: 18px;
    word-wrap: break-word;
    padding-left: 5px;
}

.banner div.centerC .hotNewBody .forum .aurtherSay p img {
    width: 25px;
    vertical-align: text-top;
}

.AtTip {
    font-weight: bold;
    color: rgb(194, 128, 255);
}

.HtTip {
    font-weight: bold;
    color: darkorange;
}

.banner div.centerC .hotNewBody .forum .aurtherTmg {
    width: 710px;
    display: flex;
    flex-wrap: wrap;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.banner div.centerC .hotNewBody .forum .aurtherTmg li {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 169px;
    height: 169px;
    margin: 0 10px 10px 0;
    background: #fff;
    border: 1px solid rgb(255, 165, 0);
    border-radius: 10px;
    overflow: hidden;
}

.banner div.centerC .hotNewBody .forum .aurtherTmg li:last-child {
    margin-right: 0px;
}

.banner div.centerC .hotNewBody .forum .aurtherTmg li img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.banner div.centerC .hotNewBody .forum .aurtherVideo {
    position: relative;
    width: 710px;
    height: 532px;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

.banner div.centerC .hotNewBody .forum .aurtherVideo video {
    outline: none;
}

.banner div.centerC .hotNewBody .forum .forumFooter {
    position: relative;
    height: 50px;
}

.banner div.centerC .hotNewBody .forum .forumFooter>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* width: 50px; */
    height: 50px;
    padding-left: 45px;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 19px;
    color: #555555;
    line-height: 50px;
    /* background: rgb(68, 184, 192); */
    cursor: pointer;
}

.banner div.centerC .hotNewBody .forum .forumFooter>div span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
}

.banner div.centerC .hotNewBody .forum .forumFooter>div:hover,
.banner div.centerC .hotNewBody .forum .forumFooter>div span:hover {
    color: orange;
    text-shadow: 1px 1px 3px #fff;
}

.banner div.centerC .hotNewBody .forum .forumFooter>div span .banner div.centerC .hotNewBody .forum .forumFooter .zf {
    left: 0px;
}

.banner div.centerC .hotNewBody .forum .forumFooter .pl {
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner div.centerC .hotNewBody .forum .forumFooter .aixin {
    right: 0;
    transform: translate(-50%, -50%);
}

.banner div.centerC .hotNewBody .forum .forumFooter .aixin span {
    color: rgb(85, 85, 85);
}

.banner div.centerC .hotNewBody .forum .discuss {
    /* display: none; */
    width: 100%;
    /* height: 50px; */
    padding-top: 20px;
    border-top: 1px solid #ccc;
    /* background: #fff; */

}

.banner div.centerC .hotNewBody .forum .discuss .disSelf {
    position: relative;
    width: 100%;
    /* height: 116px; */
    padding-left: 80px;
    padding-bottom: 20px;
    /* background: rgb(52, 133, 165); */

}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsPhoto,
.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli span.dlPhoto {
    position: absolute;
    top: 0%;
    left: 13px;
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
}

.banner div.centerC .hotNewBody .forum .discuss .disOther ul.doUl>li.doli {
    margin-bottom: 30px;
}


.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli span.dlPhoto {
    left: -68px;
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsPhoto img,
.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli span.dlPhoto img {
    width: 100%;
    height: 100%;
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf #disSelf {
    width: 100%;
    min-height: 57px;
    padding: 10px 0;
    padding-left: 20px;
    line-height: 32px;
    border: 2px solid orange;
    border-radius: 13px;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 18px;
    outline: none;
    color: rgb(134, 134, 134);
    resize: none;
    letter-spacing: 2px;
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf #disSelf img {
    width: 25px;
    vertical-align: text-top;
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsButton {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 7px;
    /* background: rgb(63, 197, 175); */
    z-index: 1;
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsButton>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsButton .face {
    left: 0px;
    font-size: 30px;
    color: rgb(133, 133, 133);
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsButton .tsSend {
    left: 102px;
    font-size: 20px;
    color: rgb(106, 106, 106);
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsButton .tsSend input {
    position: absolute;
    top: 3px;
    left: -26px;
    width: 23px;
    height: 23px;
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsButton .bsbbtn {
    right: 9px;
    width: 97px;
    height: 45px;
    background: orange;
    border: 1px solid #fff;
    border-radius: 21px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}

.banner div.centerC .hotNewBody .forum .discuss .disSelf .dsButton .facePrint {
    position: absolute;
    top: 212px;
    left: -7px;
    width: 79%;
    min-height: 282px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
}

.banner div.centerC .discuss .disSelf .dsButton .facePrint ul {
    width: 100%;
    height: 100%;
}

.banner div.centerC .discuss .disSelf .dsButton .facePrint ul li {
    list-style: none;
    float: left;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.banner div.centerC .discuss .disSelf .dsButton .facePrint ul li img {
    width: 100%;
    height: 100%;
}



/* 他人评论 */
.banner div.centerC .hotNewBody .forum .discuss .disOther {
    width: 100%;
    /* height: 100px; */
    padding-left: 80px;
    border-top: 1px solid #ccc;
    /* background: rgb(196, 92, 161); */
}

.banner div.centerC .hotNewBody .forum .discuss .disOther .doChoose {
    display: flex;
    cursor: pointer;
}

.banner div.centerC .hotNewBody .forum .discuss .disOther .doChoose span {
    position: relative;
    width: 100px;
    height: 50px;
    padding: 12px 0 0 14px;
    font-size: 20px;
    color: rgb(106, 106, 106);
    /* background: pink; */
}



.banner div.centerC .hotNewBody .forum .discuss .disOther .doChoose span.doc {
    font-weight: bold;
    color: rgba(217, 168, 201);
}

.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli {
    position: relative;
    width: 100%;
}

.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli .bigliContent {
    display: flex;
}

.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli .dlName {
    color: rgba(217, 168, 201);
    color: orange;
    font-size: 18px;
    padding-right: 22px;
    /* 强制不换行 */
    white-space: nowrap;
    margin-top: 5px;
    /* text-shadow: 1px 1px 3px darkorange; */
}

.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli .dlContent {
    width: 100%;
    /* background: #fff; */
    line-height: 27px;
    margin-top: 5px;
    color: rgb(117, 117, 117);
    border-radius: 5px;
}

.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli .dlContent img {
    width: 25px;
    vertical-align: bottom;
}

.banner div.centerC .hotNewBody .forum .discuss .disOther li.doli .dlTime {
    font-size: 15px;
    padding: 2px 9px 2px 0px;
    /* background: #679; */
    color: rgb(149, 149, 149);
    margin-top: 2px;
}

.banner div.centerC .hotNewBody .forum .discuss .disOther ul.liInUl {
    border-radius: 7px;
    background: rgb(3, 3, 3, .1);
    padding: 10px;
    margin-top: 10px;
}

.banner div.centerC .forumEnd {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: -40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 0 15px 15px;
    background: rgb(201, 160, 224);
    color: rgba(0, 0, 0, .5);

}



/* 右边 */
.rightC .notice {
    position: relative;
    width: 100%;
    height: 220px;
    background: rgb(250, 234, 180);
    border-radius: 15px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px rgb(217, 168, 201);
    background: url(../img/notice4.png) no-repeat 88px 163px;
    background: url(../img/notice4.png) rgb(250, 234, 180) no-repeat 88px 163px;
    background-size: 185px;
}

.rightC .notice .noticeIn {
    position: relative;
    width: 258px;
    height: 127px;
    overflow: hidden;
    cursor: default;
}

.rightC .notice .noticeIn ul {
    position: absolute;
    top: 0px;
    left: 0;
    width: 300%;
    height: 100%;
    cursor: default;
}

.rightC .notice .noticeIn ul li {
    float: left;
    width: 258px;
    height: 100%;
    cursor: default;
}


.rightC .notice .noticeKp {
    width: 76px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid rgba(194, 128, 255, 1);
    border-radius: 5px;
    color: rgba(194, 128, 255, 1);
}

.rightC .make {
    position: relative;
    width: 100%;
    min-height: 248px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    border: 1px solid rgb(250, 234, 180);
    box-shadow: 0px 0px 2px rgb(250, 234, 180);
    overflow: hidden;
}

.rightC .make .makeH {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    background: rgb(250, 236, 194);
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
    font-size: 18px;
}

.rightC .make .makeBtn {
    position: absolute;
    padding: 5px 10px;
    top: 12px;
    right: 15px;
    background: rgb(253, 180, 19);
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.rightC .make .makeBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.rightC .make .makeBody .hand {
    width: 120px;
    height: 156px;
    background: pink;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(250, 236, 194)
}

.rightC .make .makeBody .hand p.handP {
    width: 100%;
    height: 129px;
    background: yellow;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.rightC .make .makeBody .hand p.handP img {
    width: 100%;
    height: 100%;
}

.rightC .make .makeBody .hand p.handTime {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, .4);
    text-align: center;
    background: rgb(250, 236, 194);
}


.rightC .make .makeBody li:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

.rightC .make .tip {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    font-weight: bold;
    text-align: center;
}

.rightC .make .tip .none {
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.rightC .make .tip .none img {
    width: 100%;
    height: 100%;
}



.rightC .notice .noticeNew {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    line-height: 25px;
}

.rightC .hotTalk {
    width: 100%;
    margin-top: 20px;
    background: rgb(250, 234, 180);
    border-radius: 15px;
    overflow: hidden;
}

.rightC .hotTalk .hotTalkH,
.rightC .hotTalk .allnew {
    position: relative;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    background: rgba(255, 165, 0, .5);
    box-shadow: 1px 1px 3px #fff;
    border-bottom: 1px solid #f9f9f9;
}

.rightC .hotTalk .hotTalkH .renew {
    position: absolute;
    padding: 0 10px 0 25px;
    top: 0;
    right: 20px;
    font-size: 13px;
    color: rgb(152, 152, 152);
    cursor: pointer;
}

.rightC .hotTalk .hotTalkH .renew:before {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    font-size: 20px;
}

.rightC .hotTalk .hotTalkB {
    width: 100%;
    padding: 0 20px;
}

.rightC .hotTalk .hotTalkB li {
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: #fff;
    background: rgb(250, 234, 180);
}

.rightC .hotTalk .hotTalkB li:last-child {
    border: none;
}

.rightC .hotTalk .hotTalkB li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    color: #000;
    font-size: 15px;
}

.rightC .hotTalk .hotTalkB li a p#hTp {
    width: 200px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightC .hotTalk .hotTalkB li:hover {
    background: rgba(133, 144, 166, .4);
}

.rightC .hotTalk .hotTalkB li a span#hotTalkNum {
    padding: 5px 7px;
    text-align: center;
    /* background: #890; */
    font-size: 20px;
    color: orange;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightC .hotTalk .hotTalkB li:nth-child(-n+3)>a>span {
    color: orangered;
    font-weight: bold;
}

.rightC .hotTalk .hotTalkB li a i {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    font-style: normal;
    color: rgba(0, 0, 0, .6);
}

.rightC .hotTalk .allnew {
    padding: 0;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}

.rightC .hotTalk .allnew>a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: rgb(147, 147, 147);
}

/* img遮罩 */

.image-cover-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: fixed;
    z-index: 30;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 550px;
    overflow: hidden;
    background-color: rgb(37, 39, 42);
    transition: opacity ease 0.3s;
    pointer-events: none;
}

.model-shown {
    pointer-events: all;
    opacity: 1;
    border-radius: 20px;
}

.image-cover-modal-content {
    display: block;
    max-width: 100%;
    max-height: 80%;
}

#image-cover-caption {
    display: block;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: rgb(8, 8, 9);
}

#return,
#load,
#rightRotate {
    position: absolute;
    top: 25px;
    left: 750px;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, .1);
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#load {
    left: 25px;
}

#load a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
}

#rightRotate {
    left: 85px;
}

@media only screen and (max-width: 45rem) {
    .image-cover-modal-content {
        max-width: 100%;
        max-height: 100%;
    }
}

.Allup {
    position: fixed;
    right: 15px;
    top: 80%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
    background: url(../images/up-arrow.svg) no-repeat center center;
}

#videoli {
    width: 710px;
    height: 400px;
}

.videobox2 {
    position: relative;
    top: 3px;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.videobox2 video::-webkit-media-controls {
    display: none !important;
}