img {
    display: block;
}

body,
html {
    height: 100%;
}

div[class^='img'] {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* 背景图片固定不动 */
    background-attachment: fixed;
}

.img1 .nav {
    position: fixed !important;
    /* background: #fff;
    box-shadow: 0 2px 5px #ccc; */
    z-index: 1000;
}

.img1 .nav #logo {
    line-height: 50px;
}

.img1 {
    position: relative;
    background: url('../img/mask5.jpg');
}

.img2 {
    background: url('../img/mask2.jpg');
}

.img3 {
    background: url('../img/mask1.jpg');
}

.img4 {
    background: url('../img/mask3.jpg');
}

.img5 {
    background: url('../img/mask5.jpg');
}

div[class^='content'] {
    /* text-align: center;
    font-size: 16px; */
    width: 100%;
    height: 350px;
    background-color: #f8f3ff;
    box-shadow: 2px 2px 100px #f8f3ff;
    overflow: hidden;
}

.img1 .nav {
    position: absolute;
}

/* 大字 */
.img1 .title {
    width: 512px;
    position: absolute;
    font-weight: 700;
    font-size: 76px;
    right: 116px;
    top: 60%;
    color: #f8f3ff;
    text-shadow: #7d68a9 1px 1px 10px;
    transform: translateY(-50%);
}

.img1 .title .i1 {
    float: right;
}

/* data区 */
.img1 .data-frame {
    position: absolute;
    left: 100px;
    top: 160px;
    width: 400px;
    font-weight: 700;
    height: 400px;
    color: #bbaaaf;
    font-size: 18px;
}

.img1 .dataBox {
    position: relative;
    top: 20px;
    width: 250px;
    height: 400px;
}

.img1 .data-frame div[class^='data-box'] {
    position: absolute;
    width: 240px;
    height: 120px;
    font-size: 30px;
    border-radius: 60px;
    box-shadow: 0 0 40px #7d68a9;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.img1 .data-frame div[class^='data-box'] .position {
    position: relative;
    width: 240px;
    height: 120px;
    border-radius: 50%;
}

.img1 .data-frame div[class^='data-box'] span {
    position: absolute;
    left: 27px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    letter-spacing: 4px;
    line-height: 40px;
}

.img1 .data-frame div[class^='data-box'] i {
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 110px;
    transition: .5s ease-in-out;
}

.img1 .dataBox .data-box1 {
    left: 140px;
    top: 0px;
}

.img1 .dataBox .data-box1::after {
    position: absolute;
    display: inline-block;
    left: -30px;
    top: 60px;
    content: '';
    width: 8px;
    height: 100px;
    transform: rotate(45deg);
    box-shadow: 2px 2px 20px #a79578;
    border-radius: 3px;
}

.img1 .dataBox .data-box2::after {
    position: absolute;
    display: inline-block;
    left: 106px;
    bottom: -70px;
    content: '';
    width: 8px;
    height: 90px;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 20px #a79578;
    border-radius: 3px;
}

.img1 .dataBox .data-box2 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.img1 .dataBox .data-box3 {
    left: 140px;
    bottom: 0;
}

.content1,
.content3,
.content2,
.content4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.show {
    position: absolute;
    top: 365px;
    width: 555px;
    height: 300px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 13px rgba(0, 0, 0, .4);
    transition: all .8s;
}

.content2 .show {
    background: #eee8ff;
}

.guard {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 300px;
    transition: all .5s;
    transition-delay: .3s;
    /* background: rgb(192, 230, 255); */
}

.content4 .guard,
.content3 .show,
.content1 .show,
.content2 .guard {
    right: 80px;
}


.content3 .guard,
.content2 .show,
.content4 .show {
    left: 80px;
    /* left: -560px; */
}

.content1 .guard,
.content3 .guard {
    left: -640px;
}

.content4 .guard,
.content2 .guard {
    right: -650px;
}

.guard h1 {
    /* background: #790; */
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size: 40px;

}

.guard .intro {
    /* background: orange; */
    letter-spacing: 2px;
    font-size: 19px;
    line-height: 30px;
}

.guard .openBtn {
    background: rgb(217, 168, 201);
    text-align: center;
    width: 180px;
    margin-top: 40px;
    line-height: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 27px;
    letter-spacing: 1px;
    border: 2px solid rgb(169, 129, 221);
    cursor: pointer;
}

.show img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.content2 .guard .openBtn,
.content4 .guard .openBtn {
    position: relative;
    left: 458px;
}

.openBtn a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

#content5 {
    height: 100px;
}

.footer1 {
    margin-top: 0px;
}