body {
    background: rgba(255, 255, 255);
}

.readH,
.noticeH {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1345px;
    /* height: 200px; */
    margin: 26px auto;
    height: 247px;
    background-color: rgba(127, 101, 166, 1);
    border: 1px solid rgba(88, 89, 161, 1);
    border-radius: 30px;
    font-family: 'Open Sans',
        sans-serif;
}

.readH h1 {
    font-family: 'Open Sans Bold',
        'Open Sans Regular',
        'Open Sans',
        sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    color: #FFFFFF;
    text-align: center;
}

.noticeH {
    height: 60px;
    margin-top: 50px;
    border-color: rgb(132, 0, 255);
    border-radius: 10px;
    background: #fff;
}

.noticeH>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    font-family: "Open Sans",
        sans-serif;
    font-size: 20px;
    color: rgb(194, 128, 255);
    border-radius: 10px;
}

.noticeH>div:nth-child(1) {
    color: #fff;
    background: pink;
}